.task {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  font-size: 1.5em;
  line-height: 1;

  width: 80%;
  padding: 10px 20px;

  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;

  margin-top: 10px;
}

.task:hover {
  cursor: pointer;
  background-color: rgba(153, 153, 153, 0.3);
}

.btn-task-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 30%;
}

span.btn-edit {
  position: relative;
  font-size: 15px;
  width: 20px;
  height: 20px;
  padding: 10px 10px;
}
span.btn-edit:hover {
  cursor: pointer;
  color: greenyellow;
}
span.btn-edit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-image: url("../assets/icons/pencil-solid.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 30% 40%;
  padding: 10px 10px;
}
span.btn-edit:hover:after {
  background-image: url("../assets/icons/pencil-solid-light.svg");
}

span.btn-delete {
  padding: 5px 10px;
}
span.btn-delete {
  cursor: pointer;
}

span.btn-add {
  padding: 5px 10px;
}
span.btn-add {
  cursor: pointer;
}

svg.svgAdd {
  margin: 0.2rem;
  width: 20px;
  height: 20px;
  stroke-width: 5;
  stroke: #999;
}
svg.svgAdd:hover {
  stroke-width: 5;
  stroke: #fff;
}

svg.highlight {
  margin: 0.2rem;
  width: 18px;
  height: 18px;
  stroke-width: 5;
  stroke: #999;
}

svg.highlight:hover {
  stroke-width: 5;
  stroke: red;
}
